{% include 'top.html' %}
    <div class="container">
        {% include 'header.html' %}
        <div class="row">
            <h2 style="text-align: center">Page not found</h2>
        </div>
        {% include 'footer.html' %}
    </div>
{% include 'bottom.html' %}