{% include 'top.html' %}
<script src="/static/js/editProfile.js"></script>
<div class="container">
    {% include 'header.html' %}
    <ul id="options" class="nav nav-tabs">
        <li><a href="/profile">Current Gifts</a></li>
        <li><a href="/gift">Add a New Gift</a></li>
        <li class="active"><a href="/editprofile">Edit Profile</a></li>
    </ul>
    <br />
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <form id="editprofile" data-toggle="validator" role="Form">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input id="firstName" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input id="lastName" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input id="email" class="form-control" type="email" />
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input type="password" data-minlength="6" class="form-control" id="password" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="control-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" data-match="#inputPassword" data-match-error="Whoops, these don't match" required>
                    <div class="help-block with-errors"></div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary">Save Changes</button>
            </form>
        </div>
    </div>
    {% include 'footer.html' %}
</div>
{% include 'bottom.html' %}