{% include 'top.html' %}
<script src="/static/js/giftItem.js"></script>
<div id="page" class="loading">
<div class="container">
    {% include 'header.html' %}
    <div class="row" id ="giftItem">
    </div>
    {% include 'footer.html' %}
  </div>
</div>
{% include 'bottom.html' %}