{% include 'top.html' %}
<script src="/static/js/gift.js"></script>
<div class="container">
    {% include 'header.html' %}
    <ul id="options" class="nav nav-tabs">
        <li><a href="/profile">Current Gifts</a></li>
        <li class="active"><a href="/gift">Add a New Gift</a></li>
        <li><a href="/editprofile">Edit Profile</a></li>
    </ul>
    <br />
    <div class="row">
         <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <form id="gift">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input id="title" class="form-control" type="text" required />
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input id="description" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input id="price" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input id="image" class="form-control" type="text" />
                </div>
                 <div class="form-group">
                    <label for="link">Link</label>
                    <input id="link" class="form-control" type="text" />
                </div>
                <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                </form>
    </div>
        </div>
    {% include 'footer.html' %}
</div>
{% include 'bottom.html' %}