{% include 'top.html' %}
<script src="/static/js/login.js"></script>
<div class="container">
    {% include 'header.html' %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <form id="Login">
                <div class="form-group">
                    <h2>Sign in to your account</h2>
                    <div id="login-error" class="alert alert-danger hide-init">
                        <strong>Error!</strong> Could not log in with that email &amp; password combination.
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input id="email" class="form-control" type="email" required/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" class="form-control" type="password" required/>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </div>
            </form>
        </div>
    </div>
    {% include 'footer.html' %}
</div>
{% include 'bottom.html' %}