<nav id="nav-user">
    <ul class="nav nav-pills pull-right">
        <li><a href="/profile">My Profile</a></li>
        <li><a href="/people">People</a></li>
        <li><a id="logout" href="#">Logout</a></li>
    </ul>
</nav>