{% include 'top.html' %}
<script src="/static/js/people.js"></script>
<div id="page" class="loading">
    <div class="container">
        {% include 'header.html' %}
        <div class="row">
            <div class="col-xs-12" id="people">
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</div>
{% include 'bottom.html' %}