{% include 'top.html' %}
<script src="/static/js/profile.js"></script>
<div id="page" class="loading">
    <div class="container">
        {% include 'header.html' %}
        <div class="row">
            <div class="col-xs-12">
                <h3 id="fullname"></h3>
            </div>
        </div>
        <br />
        <ul id="options" class="loading nav nav-tabs">
            <li class="active"><a href="#">Current Gifts</a></li>
            <li><a href="/gift">Add a New Gift</a></li>
            <li><a href="/editprofile">Edit Profile</a></li>
        </ul>
        <br />
        <div id="giftlist">
        </div>
        {% include 'footer.html' %}
    </div>
</div>
{% include 'bottom.html' %}