{% include 'top.html' %}
<script src="/static/js/register.js"></script>
<div class="container">
    {% include 'header.html' %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <form id="register">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input id="firstName" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input id="lastName" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input id="email" class="form-control" type="email" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" class="form-control" type="password" />
                </div>
                <button type="submit" class="btn btn-lg btn-primary">Create an Account</button>
            </form>
        </div>
    </div>
    {% include 'footer.html' %}
</div>
{% include 'bottom.html' %}